.footer {
    background-color: #10367C;
}

.footer-logo-svg {
    display: none;
    fill: #FFFFFF;
    width: 98px;
    height: 19px;
    margin: 0 auto;
}

.footerBody {
    display: flex;
    margin-bottom: 64px;
}

.footerColumn{
    width: 33.3%;
    list-style-type: none;
}

.footerColumn:not(:last-child) {
    margin-right: 16px;
}

.footerColumn a {
    color:#FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.footerColumn li:not(:last-child) {
    margin-bottom: 24px;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
}