.HotelPage {
    background-color: #10367C;
}
.hotelBody {
    display: flex;
    background-color: #FFFFFF;
    max-width: 1232px;
    padding: 30px 32px;
    margin: 0 auto;
}
.hotelInfoImg {
    display: block;
    width: 300px;
    height: 300px;
    margin-right: 30px;
}
.hotelInfoTitle {
    margin: 0;
    font-size: 28px;
    line-height:24px;
    color: #10367C;
}
.hotelInfoText {
    text-align: justify;
    max-width: 620px;
    margin-top: 20px;
    padding-left: 100px;
}