.section {
  padding: 120px 104px;
}

.header-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text-primary  {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/*.invisibleWrap {*/
/*  display: none;*/
/*}*/

.container-back {
  background-color: #EAF0F9;
  max-height: 828px;
  margin: 0 auto;
}

.container {
  background-color: #EAF0F9;
  max-width: 1232px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

.arrow {
  filter: drop-shadow(3px 3px 3px #383838);
  position: relative;
  left: 1262px;
  bottom: 264px;
}

.arrow-left {
  position: relative;
  left: 38px;
  bottom: 322px;
  transform: rotate(180deg);
}