.filter {
    position: absolute;
    top: 76px;
    right: 192px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 22px;
    color: #000000;
}
.childBlock {
    font-size: 12px;
    line-height: 14px;
    margin-top: 28px;
}
.selectsContainer {
    max-width: 214px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}