/*h2 {*/
/*    font-weight: 500;*/
/*    font-size: 40px;*/
/*    line-height: 46px;*/
/*    text-align: center;*/
/*    margin-bottom: 90px;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    h2 {*/
/*        font-size: 32px;*/
/*        line-height: 38px;*/
/*        margin-bottom: 32px;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    h2 {*/
/*        font-size: 28px;*/
/*        line-height: 32px;*/
/*    }*/
/*}*/

.text-primary  {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

