.arrow {
  filter: drop-shadow(3px 3px 3px #383838);
  position: relative;
  left: 1262px;
  bottom: 264px;
}

.arrow-left {
  position: relative;
  left: 38px;
  bottom: 322px;
  transform: rotate(180deg);
}