.city-input:focus+.city-label,
.city-input:not(:focus):valid+.city-label{
    top: -48px;
    color: #FFFFFF;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    max-height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-items: center;
    width: 100%;
    max-width: 765px;
}

.properties {
    color: #000000;
    border: 4px solid #F3F3F4;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41%;
}

.properties:hover {
    border-color: #F5BD41;
}

.properties input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.properties div {
    height: 100%;
    position: relative;
}

.properties label {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 2s ease all;
}

.adults-input:focus+.adults-label,
.adults-input:not(:focus):valid+.adults-label {
    color: #FFFFFF;
    top: -48px;
}

.children-input:focus+.children-label,
.children-input:not(:focus):valid+.children-label {
    color: #FFFFFF;
    top: -48px;
}

.rooms-input:focus+.rooms-label,
.rooms-input:not(:focus):valid+.rooms-label {
    color: #FFFFFF;
    top: -48px;
}

.search-button {
    background-color: #3077C6;
    border-radius: 5px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    height: 100%;
    width: 25%;
}

.header-apps {
    display: flex;
    justify-content: center;
    /*position: relative;*/
}

.header-apps div {
    margin-left: 8px;
    margin-right: 8px;
}
